.header
  box-shadow: 0px -2px 25px 0px rgba(112,112,112,1)
  -webkit-box-shadow: 0px -2px 25px 0px rgba(112,112,112,1)
  -moz-box-shadow: 0px -2px 25px 0px rgba(112,112,112,1)

  color: $blue
  margin: 0
  padding: 15px $padding

  two-color-gradient-bg: $white $ultra-light-gray

  &--container
    align-items: center
    display: flex
    justify-content: space-between
    margin: 0 auto
    max-width: $max-width

    .header--text
      font-size: 1.4rem

    .header--react-logo
      display: flex
      align-items: flex-end

      &--icon:before
        color: $blue
        font-size: 3rem
