/* Layout Styles */

.main-layout
  display: grid
  grid-template-rows: $header-height 1fr
  height: 100vh

.success-message-container
  display: flex
  align-items: center
  justify-content: center

  .success-message
    color: $blue