/*variables*/

//blue scale
$ultra-dark-blue = rgb(22, 22, 29)
$darker-blue = #1B1B25
$dark-blue = rgb(32, 32, 46)
$dark-skyblue = #1C3643
$blue = #4361EE
$skyblue = darken(#459fc7, 10%)
$cian = #5ce1e6
$loader-color = #657beb

//social media colors
$twitter-blue = #03a7ea
$facebook-blue = #3b5998
$linkedin-blue = #0e76A8
$instagram-color = #dd2a7b

//red scale
$danger = #e1445e

//gray scale
$black = black
$ultra-dark-gray = #20222a
$dark-gray = #343a40
$mid-gray = #545454
$ultra-light-gray = #f0efef
$white = white
$darken-white = #f4f4f4

//settings
$max-width = 90vw
$padding = 20px
$trailing-margin = 20px
$border-radius = 6px
$header-height = 78px
$loader-size = 80px